@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
}

.column {
  padding: 20px;
}

.sheetName {
  width: 150px;
  padding: 10px;
  border: 1px solid #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 20px;
  cursor: pointer;
}

.selected {
  background-color: lightgreen;
}

.table {
  margin-bottom: 20px;
}

.row {
  display: grid;
  gap: 5px;
  margin-bottom: 5px;
}

.cell {
  border: 1px solid #ccc;
  padding: 10px;
}

.cell.sum {
  background-color: aliceblue;
}
